<title>{{title}}</title>

<section class="ml-4 mr-4 mt-4">

  <div class="arena text-center"
        *ngIf="winner">     
        <!-- winner.media -->
        <img src="../../assets/images/pikachu.png" height="200"/> 
        <h4 *ngIf="winner" class="text-danger text-center mb-4">{{winner}} wins Fight!</h4>
  </div>

  <div class="arena"
        *ngIf="!winner">

    <div class="float-right w-50 d-flex flex-row-reverse">
        <img src="../../assets/images/pikachu.png" height="150"/>
        <div class="align-self-center mr-4">
            <h3>{{pokemon1.base.name}}</h3>
            <h4 class="text-muted">{{pokemon1.life}} pts</h4>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="float-left w-50 d-flex flex-row">
        <img src="../../assets/images/raichu.png" height="150"/>
        <div class="align-self-center ml-5">
            <h3>{{pokemon2.base.name}}</h3>
            <h4 class="text-muted">{{pokemon2.life}} pts</h4>
        </div>
    </div>
  </div>

</section>

<div class="box d-flex">
        <div class="card bg-secondary log">
          <div class="card-body">
            <h6 *ngIf="start"  class="card-title">Fight started at {{start | date:'HH:mm'}}</h6>
            <p  *ngIf="attack" class="text-center" [ngClass]="attack.color">{{attack.name}} attacks with {{attack.ability.name}}</p>
          </div>
        </div>

        <div class="action">
            <button type="button" 
                    class="btn btn-success btn-lg mr-0 align-self-stretch"
                    [disabled]="!stopped" 
                    (click)="actOnFight(true)">Fight</button>
            <br/>
            <button type="button" 
                    class="btn btn-danger btn-lg mr-0 align-self-stretch" 
                    [disabled]="stopped"
                    (click)="actOnFight(false)" >Stop</button>
        </div>
  </div>
