<section class="mt-5 ml-5 mr-5">
    <form class="mt-5">
        <h6 class="text-info">Créez votre Pokemon</h6>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nom"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Points de Vie"/>
      </div>
      <div class="form-group">
        <input type="file" class="form-control" />
      </div>
      <button type="button" class="btn btn-success btn-sm float-right ml-3" [ngClass]="fighting()">Enregistrer</button>
      <button type="button" class="btn btn-danger btn-sm float-right" [ngClass]="notFighting()">Effacer</button>
    </form>
</section>
