<div class="text-center">

  <img src="../../assets/images/logo.png" height="80" class="mx-auto d-block"/>

  <button type="button" class="btn btn-link text-white" routerLink="/catalog"              routerLinkActive="text-info btn-lg">Catalog </button>
  <button type="button" class="btn btn-link text-white" routerLink="/arena/pikachu/raichu" routerLinkActive="text-info btn-lg">Arena   </button>
  <button type="button" class="btn btn-link text-white" routerLink="/new"                  routerLinkActive="text-info btn-lg">Register</button>

</div>
