<section>
  <title>{{title}}</title>
  <h2 class="text-info text-center mt-5 mb-5">Pokemon Fight Arena Café</h2>

  <h4 class="text-danger mb-4" *ngIf="winner">{{winner}} a remporté le Combat!</h4>

  <button type="button" class="btn btn-info float-right" (click)="actOnFight()">Click Here to Fight</button>

  <!-- <p class="text-infor">Tour N° {{turn}}</p> -->

  <div class="clearfix"></div>

  <div class="row">
    <!-- pokemon 1 -->
    <div class="col align-centre">
      <!-- <img [src]="pokemon1.Media" height="50"/> -->
      <h2>{{pokemon1.base.name}}</h2>
      <h3>{{pokemon1.life}} points</h3>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let attack of p1Attacks">
            <td>{{attack.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- pokemon 2 -->
    <div class="col">
      <!-- <img [src]="pokemon2.Media" height="50"/> -->
      <h2>{{pokemon2.base.name}}</h2>
      <h3>{{pokemon2.life}} points</h3>
      <table class="table table-striped">
          <tbody>
            <tr *ngFor="let attack of p2Attacks">
              <td>{{attack.name}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  
</section>